# Use Supabase's Direct connection (or Session Pooler) URL for Prisma CLI.
DIRECT_DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres"

tw2gF5jA8Yg7dvZq

